.contacto {
  background-color: #212529;
  background-image: url("../../../../public/img/map-image.png");
}

.contacto h2 {
  color: #fff;
  margin-bottom: 0.7rem;
  font-size: 3.8rem;
}

.formulario-principal fieldset {
  border: none;
  color: #fff;
}

.formulario-principal legend {
  text-align: center;
  color: var(--gris-claro);
  font-size: 1.6rem;
  background-color: var(--gris-oscuro);
  padding: 0.7rem 1.5rem;
  border-radius: 1rem;
  line-height: 2.7rem;
}

.campos {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.campos textarea {
  height: 20rem;
}

@media (min-width: 600px) {
  .campos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .campos textarea {
    grid-row: 1/4;
    grid-column: 2/3;
    height: auto;
  }
}

.footer {
  display: unset;
}

@media (min-width: 600px) {
  .footer {
    display: flex;
    column-gap: 3rem;
    justify-content: space-between;
    align-items: center;
  }
}

.footer p {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 0 0.7rem;
  border-radius: 0.3rem;
  animation: zoom 300ms linear;
}

@media (min-width: 600px) {
  .footer p {
    text-align: unset;
  }
}

.msg-error {
  color: #ffffff;
  background-color: #c24747;
  padding: 0rem 2rem;
}

.msg-success {
  background-color: #099b63;
  color: #e4fff5;
  padding: 1.7rem 3rem;
}

.opacity-50 {
  opacity: 0.5;
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);
  }
}



.footer button {
  margin: 1.5rem 0;
  width: 100%;
}

.footer button:disabled {
  background-color: #6e6e6e;
  color: #b9b8b8;
  transform: scale(.9);
  cursor: no-drop;
}

@media (min-width: 600px) {
  .footer button {
    padding: 1.5rem 7rem;
    width: auto;
  }
}

.campos {
  margin: 3rem auto 1.5rem;
}

@media (min-width: 600px) {
  .campos {
    margin: 3rem auto;
  }
}

.campos input,
.campos textarea {
  border: none;
  padding: 2rem;
  border-radius: 0.3rem;
}

.campos input:focus,
.campos textarea:focus {
  outline: 0.3rem solid var(--primario);
}

.campos input::placeholder,
.campos textarea::placeholder {
  color: #b9b8b8;
  font-weight: 600;
}

.mensaje-alerta {
  display: block;
  margin: 0 auto;
  padding: 1.5rem 0;
  border-radius: 0.5rem;
  font-family: var(--sans-serif);
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
  background-color: #099b63;
  text-align: center;
}

.error-alerta {
  color: #ffd6d6;
  background-color: #ca3b3b;
}

.ocultar {
  display: none;
}
