.section {
  display: flex;
  padding: 8rem 5rem 0;
}

@media (min-width: 768px) {
  .section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}

.section h2 {
  text-transform: capitalize;
  text-align: left;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .section h2 {
    font-size: 2.4rem;
  }
}

@media (min-width: 903px) {
    .section h2 {
      font-size: 3rem;
    }
  }

.section img {
  display: none;
  max-width: 37rem;
  width: 100%;
}

@media (min-width: 768px) {
  .section img {
    display: block;
  }
}

.section button {
  width: 100%;
}

