.footer{
    background-color: var(--gris-oscuro);
}

.contenedor-footer {
    display: flex;
    justify-content: space-between;
}

.contenedor-footer h4 {
    text-transform: uppercase;
    margin: auto 2rem;
    text-align: left;
    font-size: 1.7rem;
    color: white;
    display: inline-block;
    min-width: 10rem;
}

.contenedor-footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0 ;
    padding: 3rem 0;
    width: 25rem;
}

.contenedor-footer a {
    color: white;
    padding: 0.3rem;
    transition: all 200ms ease-in;
}

.contenedor-footer a:hover {
    background-color: #54546d;
    padding: 0.9rem 1.2rem;
    border-radius: 0.5rem;
}