.navFix {
  position: fixed;
  background-color: var(--gris-oscuro);
  width: 100%;
  z-index: 100;
  animation: fromTop 500ms ease-out;
}

@keyframes fromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
}

.logo h1 {
  padding: 0 0.2rem;
  margin: 0;
  font-family: var(--gothic);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: 0.03rem;
}

.logo span {
  color: var(--primario);
}

.logo img {
  width: 1.7rem;
  margin-top: 0.5rem;
}

.container {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
}

.logoMenu {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.nav a {
  color: #fff;
  text-transform: uppercase;
  font-family: var(--sans-serif);
  font-size: 1.5rem;
  transition: color 300ms ease;
  padding: 1.1rem 1rem;
  border-bottom: 0.1px solid #434649;
  text-align: center;
}

@media (min-width: 768px) {
  .nav a {
    padding: 0 1rem;
    border: none;
  }
}

.nav a:hover {
  color: var(--primario);
  text-decoration: none;
}

.nav a:last-child {
  padding-right: 0;
  border-bottom: 0;
}

.mobil {
  text-align: right;
}

.menu-btn {
  display: inline;
  width: auto;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: normal;
  background-color: #434649;
  margin: 0;
}

.menu-btn:hover {
  background-color: #64696e;
}

@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-mobil {
  display: block;
  position: absolute;
  background-color: var(--gris-oscuro);
  right: 0;
  min-width: 20rem;
  border-bottom-left-radius: 1rem;
}
.navFix .menu-mobil {
  animation: fromLeft 300ms ease-out;
}
.navBar .menu-mobil {
  animation: appear 400ms ease-out;
  margin-top: -1px;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fromLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .menu-mobil {
    display: none;
  }
}
.menu-desktop {
  display: none;
}

@media (min-width: 768px) {
  .menu-desktop {
    display: inherit;
  }
}
