.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    color: #fff;
    text-transform: uppercase;
    font-family: var(--sans-serif);	
    font-size: 1.5rem;
    transition: color 300ms ease;
    padding: 0 1rem;
}

.nav a:last-child {
    padding-right: 0;
}

.nav a:hover {
    color: var(--primario);
}