.body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.body img {
  max-width: 30rem;
  text-align: center;
  margin-bottom: 2rem;
}

.body a {
  padding: 2rem 6rem;
}
