body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gris-oscuro);
}

.whitebg {
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: var(--primario);
}

a:hover {
  color: var(--primarioOscuro);
  text-decoration: underline;
}

.text-primary {
  color: #282828 !important;
}

:root {
  --primario: #00c0ff;
  --primarioOscuro: #00a0eb;
  --gris-oscuro: #212529;
  --gris: #5a6269;
  --gris-claro: #ddd;
  --claro: #daeaef;
  --gothic: 'Nanum Gothic', sans-serif;
  --serif: 'Roboto Slab', serif;   
  --sans-serif: 'Montserrat', sans-serif;
  --cursive: 'Solitreo', cursive;
  
}

body {
  font-size: 16px;
  box-sizing: border-box; /* hack paul irish */
}

*,
*:after,
*:before {
  box-sizing: inherit; /* hack paul irish */
}

html {
  font-size: 62.5%;
}

section {
  padding: 8rem 0;
}


h1 {
  color: var(--claro);
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
}
h4 {
  font-size: 2.2rem;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

h2,
h3,
h4 {
  text-align: center;
  color: var(--gris-oscuro);
  font-family: var(--sans-serif);
}

p {
  font-family: var(--serif);
  font-size: 1.6rem;
  color: var(--gris-oscuro);
  line-height: 2.8rem;
}

a {
  text-decoration: none;
}

li {
	font-size:1.6rem;
	font-family: var(--serif);
	line-height: 2.8rem
}

input,
textarea {
  font-family: sans-serif;
  letter-spacing: 0.01rem;
}

button, .button {
  font-family: var(--sans-serif);
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  padding: 2rem 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--primario);;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  width: 90%;
  cursor: pointer;
  margin: 1.5rem auto;
  transition: all 200ms ease;
  text-align: center;
}

button:hover, .button:hover {
  background-color: var(--primarioOscuro);
  text-decoration: none;
  color: #fff;
  transform: scale(103%);
}

@media (min-width: 768px) {
  button, .button {
    width: auto;
  }

}


.container {
  margin: 0 auto;
  width: 91%;
  max-width: 1140px;
}
